@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrolbar-width: none;
  }
}

.completed-todo {
  @apply
  h-40
  my-4
  border-2
  drop-shadow-md
  rounded-md flex
  justify-between
  px-4 items-center
  line-through
  bg-slate-100
  text-gray-400
};

.incomplete-todo {
  @apply
  h-40
  my-4
  border-2
  drop-shadow-md
  rounded-md flex
  justify-between
  px-4 items-center
};